.App {
 height: 100vh;
 display: flex;
 justify-content: center;
}

/* Link List Component */

.link-list-container {
  width: 70vw;
  margin: 2rem;
}

.link-list-container header {
  font-size: 2rem;
  padding: 2rem;
  text-align: center;
}

.link-list-container .sorter {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.link-list-container .sorter button {
  margin-left: 8px;
}

.link-list-container .list {
  
}

.link-list-container .ant-list-item {
  padding: 8px 0;
}

.link-list-container .ant-pagination {
  display: flex;
  justify-content: center;
}

.list-item-left {
  display: flex;
  align-items: center;
  position: relative;
}

.list-item-left:hover {
  color: #1677ff;
  cursor: pointer;
}

.list-item-title {
 font-size: 1.3rem;
 padding: 8px 21px;
}

.delete-button {
  display: none;
  position: absolute;
  top: -8px;
  right: -21px;
}

.delete-button:hover {
  display: block;
}

.list-item-title:hover + .delete-button{
  display: block;
}

.list-item-right {
  display: flex;
  align-items: center;
}

.vote-title {
  margin: 0 8px;
  font-size: 1rem;
}


/* Link Add Component */

.link-add-container {
  width: 70vw;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link-add-container header {
  font-size: 2rem;
  padding: 2rem;
  text-align: center;
}

.link-add-container form {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link-add-container .ant-form-item {
  width: 100%;
}

.link-add-container button[type='submit'] {
  text-align: center;
}